.banner-youtube {
  height: 20rem;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background: rgba(235, 233, 255, 1);
  align-items: center;
  font-weight: bold;
  border-radius: 20px;
}

.myphoto {
  max-height: 100%;
}

.text-banner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: black;
}

.text-banner .chamada-youtube {
  font-size: 1.3rem;
}

.text-banner a {
  text-decoration: none;
  width: 14rem;
}

.text-banner a section {
  background-color: black;
  height: 4rem;
  width: 14rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

.text-banner a section p {
  color: white;
  font-size: 1.3rem;
}

.text-banner a img {
  height: 4rem;
}

.myvalues {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  place-items: center;
  gap: 1rem;
}

.content-myvalues {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  height: 5.2rem;
  width: 17rem;
  background: linear-gradient(to top, rgb(255, 199, 116), #fce3ab);
  padding: 1rem;
  border-radius: 10px;
  color: black;
}

.content-myvalues > p {
  display: none;
}

.content-myvalues:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
  height: auto;
}

.content-myvalues:hover > p {
  display: block;
}

.content-title-myvalues {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
  font-weight: bold;
}

.content-title-image-myvalues {
  height: 4rem;
  width: 4rem;
}

.aws {
  height: 14rem;
  width: 60rem;
  border-radius: 10px;
  background: linear-gradient(to left, #69d8d9, #9c81ff, #fce3ab);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: black;
  margin: auto;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 3rem auto;
}

.certified {
  width: 13rem;
}

.certified-cloud {
  width: 13rem;
}

.aws-content {
  color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.aws-content a {
  text-decoration: none;
  color: white;
  background-color: black;
  height: auto;
  width: fit-content;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.technologies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, auto);
  place-items: center;
  gap: 1rem;
  padding: auto;
  margin-bottom: 2rem;
}

.content-title-technologies {
  height: 4rem;
  width: 12rem;
  background: linear-gradient(to left, #9c81ff 5%, #fce3ab);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 10px;
}

.content-title-technologies:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
  background: linear-gradient(to right, #9c81ff 5%, #fce3ab);
}

.content-title-image-technologies {
  height: 3rem;
}

.content-title-text-technologies {
  color: rgba(32, 0, 92, 1);
  font-size: 1.2rem;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.menu {
  display: block;
}

.sidebar {
  width: 300px;
}

@media (max-width: 768px) {
  .banner-youtube {
    width: 20rem;
    margin: auto;
  }

  .text-banner {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .banner-youtube img {
    display: none;
  }

  .myvalues {
    grid-template-columns: repeat(1, 1fr);
  }

  .technologies {
    grid-template-columns: repeat(1, 1fr);
  }

  .aws {
    width: 20rem;
    font-size: 1rem;
  }

  .aws img {
    display: none;
  }

  .aws-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
}

@media (min-width: 769px) and (max-width: 942px) {
  .technologies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    place-items: center;
    padding-left: 5%;
    gap: 1rem;
    padding: auto;
    margin-bottom: 2rem;
  }

  .aws {
    height: 14rem;
    width: 40rem;
    border-radius: 10px;
    background: linear-gradient(to right, #75d1f6, #fcc6c6, #fce3ab);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 3rem auto;
    padding-left: 2rem;
  }

  .myvalues {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    place-items: center;
    gap: 1rem;
  }

  .banner-youtube {
    height: 20rem;
    width: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: rgba(235, 233, 255, 1);
    align-items: center;
    font-weight: bold;
    border-radius: 20px;
    padding: 0 1rem;
  }

  .text-banner .chamada-youtube {
    font-size: 1.2rem;
  }
}
